<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">

{% if page.title %}
    <title>{{ page.title }}</title>
{% endif %}
{% if page.description %}
    <meta name="description" content="{{ page.description }}">
{% endif %}
{% if page.author %}
    <meta name="author" content="{{ page.author }}">
{% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="{{ 'dist/reset.css' | prepend: site.reveal_path | relative_url }}">
    <link rel="stylesheet" href="{{ 'dist/reveal.css' | prepend: site.reveal_path | relative_url }}">
    <link rel="stylesheet" href="{{ page.theme | append: '.css' | prepend: site.reveal_theme_path | relative_url }}" id="theme">
    <link rel="stylesheet" href="{{ '/css/reveal_custom.css' | relative_url }}">

    <!-- Theme used for syntax highlighted code -->
{% if page.highlight_style_sheet %}
{% assign highlight_style_sheet = page.highlight_style_sheet %}
{% elsif page.highlightTheme %}
{% capture highlight_style_sheet %}{{ site.reveal_path | relative_url }}plugin/highlight/{{ page.highlightTheme }}.css {% endcapture %}
{% else %}
{% capture highlight_style_sheet %}{{ site.reveal_path | relative_url }}plugin/highlight/zenburn.css {% endcapture %}
{% endif %}
    <link rel="stylesheet" href="{{ highlight_style_sheet }}">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="{{ site.reveal_path | relative_url }}css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

  </head>

  <body>
  <!-- last_modified_at {{ "now" | date: "%F %T (%z)" }}. -->


    <div class="reveal">
        <div class="slides">
            <section data-markdown
                     data-separator="^\r?\n---\r?\n$"
                     data-separator-vertical="^\r?\n--\r?\n$"
                     data-notes="^Note:"
                     data-charset="utf-8">

{{ content }}
{% comment%}
    page.content may or may not be parsed
    content is parsed
{% endcomment%}

            </section>
        </div>
    </div>

    <script src="{{ site.reveal_path | relative_url }}dist/reveal.js"></script>
    <script src="{{ site.reveal_path | relative_url }}plugin/notes/notes.js"></script>
    <script src="{{ site.reveal_path | relative_url }}plugin/markdown/markdown.js"></script>
    <script src="{{ site.reveal_path | relative_url }}plugin/highlight/highlight.js"></script>
    <script>
        // More info about initialization & config:
        // - https://revealjs.com/initialization/
        // - https://revealjs.com/config/
        Reveal.initialize({
            hash: true,
            transition: '{{ page.transition }}', // default/cube/page/concave/zoom/linear/fade/none
{% if page.slideNumber %}
            slideNumber: {{ page.slideNumber }},
{% endif %}
{% if page.mouseWheel %}
            mouseWheel: {{ page.mouseWheel }},
{% endif %}

{% if page.reveal_options %}
{% if page.reveal_options.first.first %}
            // Reveal options generated from mapping
{% for option in page.reveal_options %}
            {{ option[0] }}: "{{ option[1] }}",
{% endfor %}
{% else %}
            // Reveal options generated from a list of strings
            {{ page.reveal_options | append:',' }}
{% endif %}
{% endif %}

            // Learn about plugins: https://revealjs.com/plugins/
            plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
        });
    </script>
  </body>
</html>
